### Python code is only readable for human beings

In [ ]:
print('Hello World')

### Print is a function and tells Python to output the argument (that what is between the brackets after the function name) on your screen
<ul><li>A function is a grouping of code that can perform a certain task and can be re-used 
</li><li>Print is a built-in function, that is a function that is part of the standard implementation of Python. Built-in fuctions like any function, can be used by calling their name. Built-in functions are already copied to your computer and the names of some of them like print, don't need to be imported
<li>User functions are functions defined by you or other people that are not part of the standard Python implementation. (You will learn how to write your own functions in week 3 of the course)
<li>You can extend Python by copying functions and other objects that are not part of the standard implementation to a certain place on your computer or in the cloud where you run Python
<li>If you want to use these objects that are not part of the standard implementation, in your program, you have to import the names of these objects into your program, after which you can use those names in your program like names you have defined yourself 
<li>For some objects that are part of the standard implementation, you have to import the names of these objects into your program, after which you can use those names in your program like names you have defined yourself 
<li>Objects you created in a program yourself can be used in that program without importing their names
<li>You will learn about importing names of objects later in this notebook

### Python code is not directly executable by computers. Computers can only execute machine code. Therefore, Python code must be translated to make it executable for a computer. This is done in two steps, Python code is first translated into byte code. This byte code is the same independent of which computer you run your Python code on. This means that this byte-code must be translated into so called machine code before it can be executed by the computer you use

### A cell (as the following cell) starting with a line only containing only one # and nothing else, is not part of the exam material, but is still interesting if you want to learn Python

### #<br>You can actually see the intermediate bytecode if you want

In [ ]:
#
import dis
def func():
    print('Hello World')
dis.dis(func)

### To make Python more readable for human beings, you can add comments to your program.<br>Python doesn't lose any noticable time dealing with your comments

In [2]:
# This whole physical line is a comment

In [3]:
print('Hello World') # Everything after the hashtag is a comment

Hello World

In [4]:
# This is a 
# multiline comment.

### Everything in Python is an object. Objects in Python have one id, one value, one type, and zero or more names
<br>An assignment statement is one of the ways to create an object. An object created with an assignment statement will have a name, an id, a value and a type.
<br>If you know the name you can ask for the id, the value, and the type

In [ ]:
a = 1
print(id(a))
print(a)
print(type(a))

### Another way to assign names to objects are parallel assignments

In [ ]:
a = 100
b = 200
c = 300
d, e, f = a, b, c
print(a, b, c)
print(d, e, f)

In [ ]:
a = 100
b = 200
c = 300
print(a, b, c)
b, c, a = a, b, c 
print(a, b, c)

### An object has exactly one id, if you have two different id's you have two different objects<br>You can compare id's or use the is operator to check whether names refer to the same object

In [ ]:
var_1 = 123
print(id(var_1))
var_1 = 321
print(id(var_1))

In [ ]:
var_1 = 321
print(id(var_1))
var_2 = 321
print(id(var_2))
print(var_1 == var_2)
print(var_1 is var_2)

### Every object has one type, and types are defined by the value of the object<br>for this course you have to know 8 types

In [ ]:
var_1 = 123
var_2 = 123.3
var_3 = '123'
var_4 = True
var_5 = ('123', 123)
var_6 = [123, '123']
var_7 = {'key_1': 'elem_1', 'key_2': 'elem_2'}
var_8 = {123, '123'}

print(type(var_1))
print(type(var_2))
print(type(var_3))
print(type(var_4))
print(type(var_5))
print(type(var_6))
print(type(var_7)) 
print(type(var_8))

In [ ]:
var_1 = 123
var_2 = 123.3
var_3 = '123'
var_4 = True
var_5 = ('123', 123)
var_6 = [123, '123']
var_7 = {'key_1': 'elem_1', 'key_2': 'elem_2'}
var_8 = {123, '123'}

print(type(var_1) == int)
print(type(var_2) == float)
print(type(var_3) == str)
print(type(var_4) == bool)

print(type(var_5) == tuple)
print(type(var_6) == list)
print(type(var_7) == dict) 
print(type(var_8) == set)

### In certain situations, you can use those type indicators, to create a new object with a different type

In [ ]:
print(int('123'))
print(float('123'))

print(str(123))
print(float(123))

print(int(123.0))
print(str(123.0))

In [ ]:
integer_list = [1, 2, 3, 1]
letter_list = ['a', 'b', 'c', 'd']
print(set(integer_list))
print(tuple(integer_list))
print(dict(zip(letter_list, integer_list)))

integer_tuple = (1, 2, 3, 1)
letter_tuple = ('a', 'b', 'c', 'd')
print(set(integer_tuple))
print(list(integer_tuple))
print(dict(zip(letter_tuple, integer_tuple)))

integer_set = {1, 2, 3}
letter_set = {'a', 'b', 'c'}
print(list(integer_set))
print(tuple(letter_set))
print(dict(zip(integer_set, letter_set)))

d_1 = {1: 'c', 2: 'b', 3: 'a'}
print(list(d_1))
print(tuple(d_1))
print(set(d_1))

### #<br>In case you forgot the right name for a type indicator, there is a neat trick:

In [ ]:
#
var_1 = 123
var_2 = 123.3
var_3 = '123'
var_4 = True
var_5 = ('123', 123)
var_6 = [123, '123']
var_7 = {'key_1': 'elem_1', 'key_2': 'elem_2'}
var_8 = {123, '123'}

print(type(var_1) == type(0))
print(type(var_2) == type(0.0))
print(type(var_3) == type(''))
print(type(var_4) == type(False))

print(type(var_5) == type((0,)))
print(type(var_6) == type([]))
print(type(var_7) == type({})) 
print(type(var_8) == type(set()))

### Every object has zero or more names. Names can only start with an underscores (_), or a letter. The rest of the name can consist of underscores, digits, and letters. Names can have any length

In [ ]:
var_1 = 100
var_2 = var_1
var_3 = var_2
var_4 = var_1
print(id(var_1), id(var_2), id(var_3), id(var_4))
print(id(var_1) == id(var_2) == id(var_3) == id(var_4))
print(var_1 is var_2 is var_3 is var_4)

### Every name belongs to exactly one object. You only can remove a name from an object by assigning that name to another object or delete the name

In [ ]:
var_1 = 100
print(id(var_1))
var_1 = 200
print(id(var_1))
del(var_1)
print(id(var_1))

### #<br>Names can exist of only underscores (_). Inside a notebook these have a special function. They help you to chain cells without having to invent new names

In [ ]:
#
123*1

In [ ]:
#
123*2

In [ ]:
#
123*3

In [ ]:
#
print(_, __, ___)

### #<br>In case of some values (small integers and short strings), an assignment statement using that value doesn't create a new object, but creates an extra name for that object if that object already exists.<br>This behavior can be quite unexpected

In [ ]:
#
var_1 = 1
var_2 = 1
print(var_1 == var_2)
print(var_1 is var_2)

var_1 = 256
var_2 = 256
print(var_1 == var_2)
print(var_1 is var_2)

var_1 = 257
var_2 = 257
print(var_1 == var_2)
print(var_1 is var_2)

var_1 = "short"
var_2 = "short"
print(var_1 == var_2)
print(var_1 is var_2)

var_1 = "Long string"
var_2 = "Long string"
print(var_1 == var_2)
print(var_1 is var_2)

### #<br>For short strings this so-called interning is standard, but you can force this behavior for other string values

In [ ]:
#
import sys
var_1 = sys.intern("Long string")
var_2 = sys.intern("Long string")
print(var_1 == var_2)
print(var_1 is var_2)

### Arithmetic operators

In [1]:
print(4 + 3)
print(4 - 3)
print(4 * 3)
print(4 / 3)
print(4 / 2)
print(4 ** 3)

7
1
12
1.3333333333333333
2.0
64

In [2]:
print(5 // 3, 5 % 3)
print(-5 // 3, -5 % 3)
print(5 // 2, 5 % 2)
print(-5 // 2, -5 % 2)

1 2
-2 1
2 1
-3 1

In [4]:
print(5//2, 5%2)

2 1

In [7]:
#
import random              # The random module that can be used to generate pseudo-random numbers is part of the standard Python installation
                           # but the name has still to be importent
a = random.randint(3, 9)   # This generates an integer between 3 and 9 (both included), it is given the name 'a'
b = random.randint(3, 9)   # # This generates an integer between 3 and 9 (both included), it is given the name 'b'
print (a, b)
print(a==(a/b)*b + a%b)    # == compares what is left of it to what is right of it and evaluates to True if both sides evaluate to the same value

8 4
True

### Comparison operators

In [ ]:
print(3 == 2)
print(3 > 3)
print(3 < 4)
print(3 >= 2)
print(3 <= 3)
print(3 != 4)

In [ ]:
print(1.1, 2.2, 1.1 + 2.2 == 3.3)

In [ ]:
#
from math import isclose
print (isclose(1.1 + 2.2, 3.3))

In [ ]:
#
from decimal import Decimal
print(Decimal('1.1') + Decimal('2.2'))

In [ ]:
print([1, 2, 3] < [1, 2, 3, 0])
print([2] < [1, 2, 3, 0])
print((1, 2, 3, 0) < (1, 2, 3))
print((2,) >= (1, 2, 3, 0))
print('abc' < 'abc ')
print('b' < 'abc ')
print('123' < '123 ')
print('2' < '123 ')

### Objects have exactly one value<br>Depending on the type, objects are mutable [imutable], and this means that the value can [cannot] be changed

In [ ]:
var_1 = 100
id1 = id(var_1)
var_1 = 110
id2 = id(var_1)
print(id1 == id2)

var_1 = 100.0
id1 = id(var_1)
var_1 = 110.0
id2 = id(var_1)
print(id1 == id2)

var_1 = '100'
id1 = id(var_1)
var_1 = '110'
id2 = id(var_1)
print(id1 == id2)

var_1 = True
id1 = id(var_1)
var_1 = False
id2 = id(var_1)
print(id1 == id2)

var_1 = [100,110]
id1 = id(var_1)
var_1[0] = 120
var_1.append(130)
id2 = id(var_1)
print(id1 == id2)

var_1 = {'first': 100,'second': '110'}
id1 = id(var_1)
var_1['first'] = 120
id2 = id(var_1)
print(id1 == id2)

var_1 = {1, '2', 3}
id1 = id(var_1)
var_1.remove(3)
var_1.add(4)
id2 = id(var_1)
print(id1 == id2)

### Tupples are also immutable, changing a tupple gives an error

In [ ]:
var_1 = (100, '100')
id1 = id(var_1)
var_1[1] = '110'
id2 = id(var_1)
print(id1 == id2)

### The cleaner way to deal with errors in Python

In [ ]:
var_1 = (100, '100')
id1 = id(var_1)
try:
    var_1[1] = '110'
except:
    print ('tupples cannot be changed')
id2 = id(var_1)
print(id1 == id2)

### built-in len function

In [ ]:
print(len(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']))
print(len(('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H')))
print(len({'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'}))
print(len({1:'A', 2:'B', 3:'C', 4:'D', 5:'E', 6:'F', 7:'G', 8:'H'}))
print(len(('ABCDEFGH')))
try:
    print(len(12345678))
except:
    print ('Built-in len function cannot be applied on integers or floats')
try:
    print(len(True))
except:
    print ('Built-in len function cannot be applied on booleans or floats')
print(len(str(12345678)))

### Indexing

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(l1[6] == 'G')
print(l1[6] == l1[-2])
print(l1[7] == 'H')
print(l1[7] == l1[-1])
print(l1[len(l1)-1] == l1[-1])
print(l1[len(l1)])

### Slicing

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(l1[6:5])
print(l1[6:6])
print(l1[6:7])
print(l1[6:7] == l1[6])
print(l1[6:7][0] == l1[6])
print(l1[6:7] == list(l1[6]))

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(l1[1:17])
print(l1[16:17])
print(l1[:6])
print(l1[6:])
print(l1[:6] + l1[6:] == l1)
print(l1[:] == l1)
print(l1[:] is l1)

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(l1[0:6:2])
print(l1[1:6:1] == l1[1:6])
print(l1[1:6:1] == l1[1:6:])
print(l1[0:6:2] == l1[:6:2])
print(l1[2:len(l1):2] == l1[2::2])
print(l1[0:len(l1):1] == l1[::])

In [ ]:
l1 = ['a', 'b']
l2 = l1
l2[-1] = 'c'
print(l1 == l3)
l3 = l1[::]
l3[-1] = 'c'
print(l1 == l3)

In [ ]:
a = 'Two or more physical lines can be joined' +\
    ' with the help of backward slashes'
print(a)

In [ ]:
a = ['Two or more physical lines can be joined', 
    ' with the help of backward slashes']
print(a)

In [ ]:
a = ['Sometimes one can use parts of a logical line inside a',
     'pair of parentheses, ', 
     'with the help of backward slashes']
print(a)

### In the following examples you will see the printing of strings.<br>A string is a list of characters in order.<br>A character is anything you can type on the keyboard in one keystroke, like a letter, a number, or a backslash.

In [ ]:
print("This is a string")
print('This is another string')

### #<br>If the last statement in a cell is a print statement, you could just write the value instead of the whole print statement.<br>However, it is probably a good idea to always use print statements, as this trick that works in jupyter notebooks, doesn't work in all other environments

In [ ]:
#
"This is a string"
'This is another string'

### #<br>You can actually chance the behavior of your notebook, so that you can omit the print keayword anywhere in your notebook

In [ ]:
#
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
#
"Hello World"
'Hello World'

In [ ]:
#
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last"

In [ ]:
#
"Hello World"
'Hello World'

### You can define an object (an entity containing a value) with an assignment statement

In [ ]:
a = 'This is a string'      
b = "This is another string"

### You can use a function by passing values (or objects containing a value) to it. If you pass an object, Python will unpack the value from the object for you.<br>A function is a piece of code that will do something depending on the values you pass to it. This makes them very flexible. You can have functions without parameters, those will always do the same and are less flexible. <br>Functions also make code reusable.

In [ ]:
a = 'This is a string'      
b = "This is another string"
print(a)
print(b)
print(a,b)

### You can concatenate (glue) strings with the + operator

In [ ]:
a = 'This is a string'      
b = "This is another string"
print(a + b)
print("First string: '" + a + "', Second string: '" + b + "'.")

### You can concatenate strings with the + operator, but when printing, the use of so-called f- strings is often more useful.<br>F-strings start with an f, and you can use expressions (code that evaluates to a value) within curly brackets. These expressions are then evaluated into values

In [ ]:
a = 'This is a string'      
b = "This is another string"
print(f"First string: '{a}', Second string: '{b}'.")
print("First string: '{a}', Second string: '{b}'.")

### #<br>A nice option with f-strings

In [ ]:
#
a = 'This is a string'; b = 6; c = 0.0      
print(f"We know {a =}, {b= }, and {c = }")

### Quotes indicating strings have to be both single or plural, but not mixed

In [ ]:
print('This gives an error")
print("This gives an error')

### Quotes that are part of a string have to be different from the quotes indicating the string

In [ ]:
print("This gives no ' error")
print('This gives no " error')

### Alternatively, you also could use escape characters (\)

In [ ]:
print('This gives no \' error')
print("This gives no \" error")

### #<br>Other escape characters

In [ ]:
#
print('The escape character \t gives a tab')
print('The escape character \n gives a new line')
print('The escape character \\n gives a backward slash')

### #<br>If you don't want the backslashes inside a string to be seen as part of an escape character, you should use raw strings

In [ ]:
#
print(r"This gives no \" error")
print(r'This gives no \' error')

### Importing names of objects for using extra functionality

In [8]:
# In this cell we create a function that deletes all the thus far created names in your program, 
# we need such a function else you cannot run some cells more times and getting the same result all the time when testing the import statements 
import sys
def clear_names():
    message = ''
    for n in sorted(globals()): 
        if n[0]!='_' and n not in ["sys", "clear_names"]:
            message += f"{n}, "
            delattr(sys.modules[__name__], n)

In [9]:
%%writefile extension.py
# In this cell we create a python file and write that to the hard disk (either of your computer or to the cloud depending where you run your code.
# We will import this file to show how to import the names of objects 
# into your Python program
YEAR = 2025
def create_absolute_year(x):
    return YEAR + x

Overwriting extension.py

In [20]:
clear_names()
try:
    print(YEAR)
except Exception as e:
    print(Exception)

try:
    print(extension.YEAR)
except Exception as e:
    print(e)

import extension
try:
    print(YEAR)
except Exception as e:
    print(e)

try:
    print(extension.YEAR)
except Exception as e:
    print(e)

<class 'Exception'>
name 'extension' is not defined
name 'YEAR' is not defined
2025

In [11]:
clear_names()

import extension as ex
try:
    print(ex.YEAR)
except Exception as e:
    print(e)

try:
    print(extension.YEAR)
except Exception as e:
    print(e)

2025
name 'extension' is not defined

In [12]:
clear_names()

from extension import create_absolute_year
try:
    print(create_absolute_year(1))
except Exception as e:
    print(e)

try:
    print(YEAR)
except Exception as e:
    print(e)

2026
name 'YEAR' is not defined

In [13]:
clear_names()

from extension import create_absolute_year as cay
try:
    print(create_absolute_year(1))
except Exception as e:
    print(e)

try:
    print(cay(1))
except Exception as e:
    print(e)

name 'create_absolute_year' is not defined
2026

In [14]:
clear_names()

import extension
import extension as ex
try:
    print(ex.YEAR)
except Exception as e:
    print(e)

try:
    print(extension.YEAR)
except Exception as e:
    print(e)

2025
2025